<div class="bd ">
    <div class="pull-left zoom">
        <nav class="sidebar"><a href="#" style="display:none">标准设置</a> <a class="active js-tab1">添加数据</a></nav>
    </div>
    <!--pull-left end -->
    <div class="appearance pull-right zoom">
        <form class="form-horizontal" role="form">
            
                <div class="eidt-app ">
                    <div class="widget-data">
                        <input type="text" class="field-pull_url" value="" name="dataUrl" placeholder="data url">
                    </div>

                    <strong class="main-title">控件在面板上占位单元格</strong>
                    <div class="widget-data">

                        <select class="category chzn-done" id="sel2OG" style="display: block;margin-top:10px;" name="size">
                            <option value="1_1">一行一列</option>
                           
                        </select>
                    </div>
                     <strong class="main-title">标题</strong>

                    <div class="widget-data">
                        <input type="text" name="title" value="">
                    </div>
                    <div class="widget-data">
                        <select class="category chzn-done" style="display: block;" name="interval">
                            <option value="10000">每隔10秒</option>
                            <option value="60000">每分钟</option>
                            <option value="1800000">每三十分钟</option>
                        </select>
                    </div>
                </div>
                <div class="pull-right editimg"><img src="../images/chart/num.jpg" width="320" height="166">
                </div>
        
            <button type="submit" class="btn-subico btn-submit">保存设置此控件</button>
        </form>
    </div>
</div>