<div id="header-holder"></div>
<div id="board-holder" class="content voyager"></div>
<div id="dialog-region"></div>

<div id="json-data" style="display: none">
    <span data-collection="User"><%=current_user.name%></span>
</div>