<button class="btn btn-primary js-create">创建</button>
<table class="table talbe-striped">
    <thead>
    <tr>
        <th>board</th>
        <th>操作</th>
    </tr>

    </thead>
    <tbody>
    </tbody>
</table>