<div class="bd"> 
 <div class="slider viewport" style="width:100%;"> 
  <div class="vport-info" style="width:288px">
   <a href="#directory/bar"><img src="../images/chart/bar.jpg" /></a> 
   <a href="#directory/pie"><img src="../images/chart/pie.jpg" /></a>
   <a href="#directory/line"><img src="../images/chart/line.jpg" /></a> 
  </div> 
  <div class="vport-info"> 
   <a href="#directory/column"><img src="../images/chart/column.jpg"/></a> 
   <a href="#directory/area"><img src="../images/chart/area.jpg" /></a> 
   <a href="#directory/num"><img src="../images/chart/num.jpg" /></a> 
  </div> 
  <div class="vport-info"> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
  </div>
  <div class="vport-info"> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
  </div> 
  <div class="vport-info"> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
  </div> 
  <div class="vport-info"> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
  </div> 
  <div class="vport-info"> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
  </div>  
  <div class="vport-info"> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
   <a href="#"><img src="../images/chart/none.jpg" /></a> 
  </div>  
 </div> 
</div> 
