<div class="bd">
    <div class="mainsbox-bg">
        <ul>
            <li chartstyle="black"><a href="#"><span></span><img src="../images/themeimg/black.jpg" width="120" height="100"></a></li>
            <li chartstyle="wood"><a href="#"><span></span><img src="../images/themeimg/wood.jpg" width="120" height="100"></a></li>
        </ul>
            <button type="submit" class="btn-subico btn-submit mainsbox-bnt">保存设置</button>
    </div>
</div>


