.voyager .container {
    width: 100% !important;
    max-width: 100%;
}
.c-122236 {
    color: #122236
}
body {
    font-family: 'Microsoft yahei', '微软雅黑', Tahoma, Verdana, Arial, sans-serif;
}
img {
    vertical-align: middle
}
.fb {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Microsoft yahei', '微软雅黑', Tahoma, Verdana, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body.white {
    background-color: #ededed;
}
body.black {
    background: #28292e;
    background-image: url("../images/bg/black.png");
    background-position: left top;
    background-size: auto;
}
body.wood {
    background-image: url("../images/bg/wood.jpg");
    background-position: 50% 0;
}
.navbar {
    min-height: 44px;
    margin-bottom: 10px;
}
.zoom {
    overflow: hidden !important;
    zoom: 1;
}
/*header */

.header .navbar {
    border: none;
    position: absolute;
}
.header .navbar .container {
    width: 100% !important;
    max-width: 100% !important;
}
.header a.navbar-brand {
    color: #fff;
    padding: 10px 15px 0;
    font-size: 15px;
    font-weight: bold;
}
.header .navbar .nav.pull-left > li > a {
    color: #ddd;
    padding: 12px 5px;
    margin: 0 15px;
    font-size: 14px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.header .navbar .nav.pull-left > li > a i {
    margin: 0 4px;
    color: #427fed
}
.header .navbar .nav.pull-left > li > a:hover {
    background: #333;
    color: #fff
}
.navbar-nav > li.user-data > a {
    padding: 13px 0;
    margin: 0 15px;
    background: none;
    color: #aaa;
}
.navbar-nav > li.user-data > a:hover {
    background: #333;
    color: #fff;
}
/**/

body.white .header .navbar {
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(239, 239, 239, 0.8) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(239, 239, 239, 0.8) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(239, 239, 239, 0.8) 100%);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
body.white .header a.navbar-brand {
    color: #404040;
}
body.white .header .navbar .nav.pull-left > li > a {
    color: #444;
    border-bottom: 3px solid transparent;
}
body.white .header .navbar .nav.pull-left > li > a:hover {
    border-color: #427fed;
    background: none;
    color: #262626
}
body.white .header .navbar .nav.pull-left > li > a.active {
    border-color: #427fed;
    color: #262626;
    font-weight: bold
}
body.white .navbar-nav > li.user-data > a {
    background: none;
    color: #404040;
}
body.white .navbar-nav > li.user-data > a:hover {
    border-color: #427fed;
    background: none;
    color: #262626;
}
.mt10 {
    margin-top: 8px;
}
body.black .header .navbar {
    background-color: #2f3034;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}
body.black .header a.navbar-brand {
    color: #fff;
}
body.black .header .navbar .nav.pull-left > li > a {
    color: #eee;
    border: none;
    border-bottom: 3px solid transparent;
    background: none;
}
body.black .header .navbar .nav.pull-left > li > a:hover {
    border-color: #4b9ed0;
    background: none;
    color: #fff
}
body.black .header .navbar .nav.pull-left > li > a.active {
    border-color: #4b9ed0;
    color: #fff;
    font-weight: bold
}
body.black .navbar-nav > li.user-data > a {
    background: none;
    color: #aaa;
}
body.black .navbar-nav > li.user-data > a:hover {
    border-color: #4b9ed0;
    background: none;
    color: #fff;
}
body.black select.styled-select {
    -webkit-appearance: button;
    outline: none;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url("../images/15xvbd5.png"), -webkit-linear-gradient(#18191d, #1d1e22 40%, #25262a);
    background-color: #1d1e22;
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #000;
    color: #fff;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 260px;
}
body.wood .header a.navbar-brand {
    color: #fff;
}
body.wood .header .navbar {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
body.wood .header .navbar .nav.pull-left > li > a {
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 3px solid transparent;
    background: none
}
body.wood .header .navbar .nav.pull-left > li > a:hover {
    border-color: #fff;
    background: none;
    color: #fff
}
body.wood .header .navbar .nav.pull-left > li > a.active {
    border-color: #fff;
    color: #fff;
    font-weight: bold
}
body.wood .navbar-nav > li.user-data > a {
    background: none;
    color: #fff;
}
body.wood .navbar-nav > li.user-data > a:hover {
    border-color: #fff;
    background: none;
    color: #fff;
}
body.black .board_number .hd {
    color: #E0E0E3;
    font-size: 20px;
    text-align: center;
}
body.black .board_number .num {
    color: #3c76f7;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 36px;
}
body.white .board_number .hd {
    color: #333;
    font-size: 20px;
    text-align: center;
}
body.white .board_number .num {
    color: #658ce3;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 36px;
}
body.wood .board_number .hd {
    color: #fff;
    font-size: 20px;
    text-align: center;
}
body.wood .board_number .num {
    color: #3c76f7;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding-top: 36px;
}
.gridster .widget {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    height: 100%;
    border: solid transparent 10px;
    overflow: hidden;
    background-color: rgba(243, 243, 232, 0.7);
    color: #c2c2b9;
    cursor: default;
    border-radius: 3px;
}
.widget .inner {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
body.white .gridster li {
    background: #ededed
}
body.white .gridster .widget {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    -webkit-box-shadow: 0.05em 0.05em 0.13em rgba(0, 0, 0, 0.1);
    box-shadow: 0.05em 0.05em 0.13em rgba(0, 0, 0, 0.1);
}
body.white .widget .inner {
    background-color: #fff;
}
body.black .gridster li {
    background: #28292e
}
body.black .gridster .widget {
    background-color: #27282c;
    border: 1px solid #18171c;
    -webkit-box-shadow: 0.05em 0.05em 0.13em rgba(0, 0, 0, 0.4);
    box-shadow: 0.05em 0.05em 0.13em rgba(0, 0, 0, 0.4);
}
body.black .widget .inner {
    background-color: #27282c;
}
body.wood .gridster .widget {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid transparent;
    -webkit-box-shadow: 0.05em 0.05em 0.13em rgba(0, 0, 0, 0.2);
    box-shadow: 0.05em 0.05em 0.13em rgba(0, 0, 0, 0.2);
}
body.wood .widget .inner {
    background-color: #27282c;
}
#current_board {
    font-family: 'Microsoft yahei', '微软雅黑', Tahoma, Verdana, Arial, sans-serif;
    -webkit-appearance: button;
    outline: none;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url("../images/15xvbd5.png");
    background-position: 97% center;
    background-repeat: no-repeat;
    font-size: inherit;
    overflow: hidden;
    padding: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 260px;
}
body.black #current_board {
    background-color: #222;
    border: 1px solid #111;
    color: #fff;
}
body.white #current_board{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #666;
}
body.wood #current_board {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid transparent;
    color: #fff;
}
.fancybox-overlay, .ui-widget-overlay.ui-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
}
.ui-widget-overlay.ui-front {
    opacity: 0.7;
    cursor: pointer;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1100;
}
.ui-dialog.ui-widget {
    z-index: 1101 !important;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
    border: solid transparent 10px;
    border-radius: 5px;
}
.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1101;
    outline: none;
}
.fancybox-outer {
    position: relative;
    width: 920px;
    background-color: rgba(255, 255, 255, 0.7);
    border: solid transparent 10px;
    border-radius: 5px;
}
.fancybox-outer .hd {
    overflow: hidden;
    zoom: 1;
    padding-bottom: 15px;
}
.fancybox-outer .hd h1, .ui-dialog-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Microsoft yahei', '微软雅黑', Tahoma, Verdana, Arial, sans-serif;
}
.m-directory {
    width: 920px;
    height: 508px;
    padding: 20px;
    overflow: hidden;
    zoom: 1;
    background-color: #e6e6db;
}
/*a.btnbg {display: inline-block;border-radius: 4px;text-align: center;text-decoration: none;font-weight: bold;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
-webkit-transition: background-color 0.3s;-moz-transition: background-color 0.3s;-o-transition: background-color 0.3s;transition: background-color 0.3s;cursor: pointer;border: none; padding:10px 20px; margin:0 5px;}
a.bntcC06{background-color: #2c81da; color: #FFF;}
a.bntcC06:hover{background-color: #828282;color: #FFF;}
*/

.ui-dialog-titlebar, .m-directory {
    background: rgba(255, 255, 255, 0.8);
}
.ui-dialog-titlebar {
    overflow: hidden;
    zoom: 1;
    padding: 20px;
    height: 60px;
}
.ui-dialog-titlebar-close {
    float: right;
    background: none;
    border: none;
    position: relative;
    height: 30px;
    width: 30px;
    display: block;
    outline: none;
    background: #bbbaba url(../images/close.png) no-repeat 50% 50%;
    border-radius: 50%
}
.ui-button-icon-primary, .ui-button-text {
    display: none
}
.ui-dialog-titlebar-close:hover {
    background: #a1a1a1 url(../images/close.png) no-repeat 50% 50%;
}
.serv-logo {
    width: 244px;
    height: 119px;
    background: url('../images/service-logos.png') top left no-repeat;
}
.serv-logo.custom {
    width: 110px;
    height: 52px;
    display: inline-block;
    text-indent: -999em;
    vertical-align: middle;
    margin-top: 30px;
    background-position: -354px -4827px;
}
.m-directory .bd {
    height: 460px;
}
.m-directory .filters {
    padding: 0 20px;
    overflow: hidden
}
.filters .field-input .search {
    font-size: 14px;
    height: 43px;
    background-color: #fff !important;
    width: 459px;
    padding: 9px 10px;
}
.filters .field-input {
    width: 450px;
    float: left;
    position: relative;
}
.filters .field-input i {
    padding: 4px 3px 0px;
    position: absolute;
    top: 5px;
    right: -4px;
    cursor: pointer;
    background: #ccc url(../images/seachico.png) no-repeat 3px 3px;
    width: 34px;
    height: 34px;
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    border-radius: 4px;
    text-align: center;
}
.filters .field-input input#directory-search {
    width: 433px;
    padding: 8px 10px;
    margin-bottom: 0;
}
select.category {
    background-color: #fff;
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5d9),color-stop(100%, #d0cfc3));
background-image: -webkit-linear-gradient(top, #e5e5d9,#d0cfc3);
background-image: -moz-linear-gradient(top, #e5e5d9,#d0cfc3);
background-image: -ms-linear-gradient(top, #e5e5d9,#d0cfc3);
background-image: -o-linear-gradient(top, #e5e5d9,#d0cfc3);
background-image: linear-gradient(top, #e5e5d9,#d0cfc3);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5d9', endColorstr='#d0cfc3',GradientType=0 );*/
    
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #c0beb2;
    text-transform: uppercase;
    height: 43px;
    line-height: 43px;
    text-indent: 10px;
    color: #686c6e !important;
    border-radius: 5px;
    font-weight: bold;
    outline: none
}
.filters select.category {
    float: right;
    width: 366px;
    padding: 8px 0;
    border: solid 1px #ccc;
    font-size: 14px;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.viewport .vport-info {
    float: left;
    width: 288px;
    height: 455px;
    text-align: center
}
.viewport .vport-info a {
    display: block;
    position: relative;
    border: solid 8px #cfcfcf;
    zoom: 1;
    overflow: hidden;
    background: #fff;
    width: 268px;
    height: 140px;
    border-radius: 5px;
    margin-bottom: 15px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.viewport .vport-info a:hover {
    background: #fff;
    border: solid 8px #7cb5ec;
}
.viewport .vport-info img {
    width: 250px;
    height: 125px;
}
.sidebar {
    width: 110px;
    float: left
}
.sidebar a {
    display: inline-block;
    width: 110px;
    line-height: 16px;
    padding: 10px 10px;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    color: rgba(101, 96, 83, 0.5);
    text-transform: uppercase;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.sidebar a.active {
    background-color: #fff;
    color: #656053;
}
.viewport .vport-info span.push {
    background: url(../images/push.png) no-repeat top left;
    width: 49px;
    height: 49px;
    display: inline-block;
    top: -1px;
    right: -1px;
    position: absolute;
    z-index: 111
}
.appearance {
    padding: 20px;
    width: 770px;
    position: relative;
    overflow: visible!important;
    border-radius: 5px;
    text-transform: uppercase;
    margin-bottom: 15px;
    float: left;
    border-top-left-radius: 0;
    background-color: #fff;
    color: #999588;
    height: 400px;
}
.sidebar a:hover {
    text-decoration: none
}
.extras .title {
    display: block;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #656053;
}
.api-key {
    position: absolute;
    bottom: 20px;
    overflow: hidden;
    width: 735px;
}
.api-key input {
    clear: both;
    text-align: center;
    width: 730px;
    height: 47px;
    padding: 6px 10px;
    font-size: 1.41667em !important;
    color: rgba(101, 96, 83, 0.4) !important;
    margin-bottom: 0;
    background-color: #f6f6f6 !important;
    border-radius: 5px !important;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: solid 1px #ddd;
    background: #f6f6f6;
}
.eidt-app {
    padding: 20px;
    float: left;
    background: #ddd url(../images/editappbg.png) no-repeat top right;
    border-radius: 5px;
    position: relative;
    width: 369px;
}
.eidt-app .main-title {
    display: block;
    font-size: 14px;
    color: #656053;
    line-height: 1;
    margin-top: -2px;
    margin-bottom: 2px;
    text-transform: none;
}
.field-pull_url {
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #656053;
    background-color: #fff;
    border: none;
    resize: none;
    -webkit-appearance: none;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
    outline: none;
}
.apptit input {
    font-size: 18px;
    background-color: #eee !important;
    width: 499px;
    padding: 10px 10px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.widget-data input {
    width: 299px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff !important;
}
.widget-data select.category {
    width: 299px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff !important;
}
.btn-ico {
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
    border: none;
    color: #787878;
    background-color: #eee;
    line-height: 100%;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px 10px;
    margin-top: 5px;
}
.btn-ico i {
    float: left;
    margin-right: 0.3em;
    max-height: 44px;
}
.btn-ico span {
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    max-width: 200px;
    line-height: 1.2em;
    float: right;
}
.editimg img {
    border: solid 8px #bbb;
    border-radius: 5px;
}
/* Slider */

.slick-slider {
    position: relative;
    padding-left: 15px;
    width: 880px !important;
    display: block;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    outline: none;
}
/*.slick-list:before,.slick-list:after {
content: '';
top: 15px;
height: 100%;
position: absolute;
z-index: 10;
width: 38px;
background-repeat: repeat-y;
background-position: left top;
}

.slick-list:after{ right: 0; background:url(../img/slide_shadow_right.svg) repeat-y left top;}
.slick-list:before{ left: 0; background:url(../img/slide_shadow_left.svg) repeat-y left top;}
.slick-list:focus { outline: none; }*/

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-prev, .slick-next, .btn-subico {
    position: absolute;
    bottom: 185px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #828282;
    color: #FFF;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    outline: none;
}
.btn-subico.btn-submit {
    right: -5px;
    padding: 20px 0;
    bottom: -75px;
    font-size: 18px;
    text-align: center;
    width: 770px;
}
.btn-subico.btn-submit:hover {
    background-color: #2c81da;
    color: #FFF
}
.slick-prev {
    left: 0px;
    border: none;
}
.slick-next {
    right: 0px;
}
.slick-prev:hover, .slick-next:hover {
    background-color: #2c81da;
    color: #FFF
}
/*gridster */

.gridster {
    position: relative;
    overflow: hidden;
    zoom: 1
}
.gridster > * {
    margin: 0 auto;
    -webkit-transition: height .4s, width .4s;
    -moz-transition: height .4s, width .4s;
    -o-transition: height .4s, width .4s;
    -ms-transition: height .4s, width .4s;
    transition: height .4s, width .4s;
}
.gridster .gs-w {
    z-index: 2;
    position: absolute;
}
.ready .gs-w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s;
    -moz-transition: opacity .3s, left .3s, top .3s;
    -o-transition: opacity .3s, left .3s, top .3s;
    transition: opacity .3s, left .3s, top .3s;
}
.ready .gs-w:not(.preview-holder), .ready .resize-preview-holder {
    -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}
.gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: 0.3;
}
.gridster .player-revert {
    z-index: 10!important;
    -webkit-transition: left .3s, top .3s!important;
    -moz-transition: left .3s, top .3s!important;
    -o-transition: left .3s, top .3s!important;
    transition: left .3s, top .3s!important;
}
.gridster .dragging, .gridster .resizing {
    z-index: 10!important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}
/*.gs-resize-handle {position: absolute;z-index: 1;}
.gs-resize-handle-both {width: 20px;height: 20px;bottom: -8px;right: -8px;background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');background-position: top left;background-repeat: no-repeat;cursor: se-resize;z-index: 20;}
.gs-resize-handle-x {top: 0;bottom: 13px;right: -5px;width: 10px;cursor: e-resize;}
.gs-resize-handle-y {left: 0;right: 13px;bottom: -5px;height: 10px;cursor: s-resize;}
.gs-w:hover .gs-resize-handle,.resizing .gs-resize-handle {opacity: 1;}
.gs-resize-handle,.gs-w.dragging .gs-resize-handle {opacity: 0;}
.gs-resize-disabled .gs-resize-handle {display: none!important;}*/

[data-max-sizex="1"] .gs-resize-handle-x, [data-max-sizey="1"] .gs-resize-handle-y, [data-max-sizey="1"][data-max-sizex="1"] .gs-resize-handle {
    display: none !important;
}
.gridster ul {
    background-color: none;
    margin-top: 60px;
}
.gridster {
    margin: 0 auto;
    opacity: .8;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}
.gridster .gs-w {
    /*background: #DDD;*/
    
    cursor: pointer;
}
.gridster .player {
    /*background: #BBB;*/
}
.gridster .preview-holder {
    border: none!important;
    background: #fff!important;
}
.topbox {
    top: 100px;
    position: fixed !important
}
.widget-head .widget-icons {
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer
}
.widget-padd {
    padding: 5px 10px;
}
.mainsbox-bg h3 {
    font-size: 16px;
}
.mainsbox-bg ul {
    overflow: hidden;
    zoom: 1;
    padding: 10px;
    padding-left: 0;
    margin-left: -10px;
    height: 240px;
}
.mainsbox-bg ul li {
    float: left;
    padding: 5px 0 0 15px;
    overflow: hidden
}
.mainsbox-bg ul li a {
    border: solid 3px transparent;
    overflow: hidden;
    zoom: 1;
    display: inline-block;
    position: relative
}
.mainsbox-bg ul li a.active {
    border: solid 3px #2c81da;
}
.mainsbox-bg ul li a.active span {
    position: absolute;
    width: 18px;
    height: 18px;
    display: inline-block;
    z-index: 10;
    top: 0;
    right: 0;
    background: url(../img/actvieright.jpg) no-repeat left top
}
.btn-subico.btn-submit.mainsbox-bnt {
    bottom: 15px;
    left: 60px;
}
/*table*/

.gridster ul.pagination {
    margin-top: 0;
    float: right
}
body.white .table-bordered {
    color: #333;
}
body.white .dataTables_info {
    color: #666
}
body.white .table caption+thead tr:first-child th, body.white .table colgroup+thead tr:first-child th, body.white .table thead:first-child tr:first-child th, body.white .table caption+thead tr:first-child td, body.white .table colgroup+thead tr:first-child td, body.white .table thead:first-child tr:first-child td {
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #eff1f2 100%);
    background-image: -o-linear-gradient(top, #fafafa 0%, #eff1f2 100%);
    background-image: linear-gradient(top, #fafafa 0%, #eff1f2 100%);
}
body.white .table-bordered {
    background: #f8f8f8
}
body.white .table-striped>tbody>tr:nth-child(odd)>td, body.white .table-striped>tbody>tr:nth-child(odd)>th {
    background: #fff;
}
body.black .table-striped>tbody>tr:nth-child(odd)>td, body.black .table-striped>tbody>tr:nth-child(odd)>th {
    background: none;
}
body.wood .table-striped>tbody>tr:nth-child(odd)>td, body.wood .table-striped>tbody>tr:nth-child(odd)>th {
    background: none;
}
body.wood .table-bordered>thead>tr>th, body.wood .table-bordered>tbody>tr>th, body.wood .table-bordered>tfoot>tr>th, body.wood .table-bordered>thead>tr>td, body.wood .table-bordered>tbody>tr>td, body.wood .table-bordered>tfoot>tr>td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #rgba(0, 0, 0, 0.1);
}
body.wood .table thead>tr>th, body.wood .table tbody>tr>th, body.wood .table tfoot>tr>th, body.wood .table thead>tr>td, body.wood .table tbody>tr>td, .table tfoot>tr>td {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: none;
}
body.wood .table thead>tr>th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body.wood .table-bordered {
    color: #fff;
    background: rgba(0, 0, 0, 0.1)
}
body.wood .table-striped>tbody>tr:nth-child(odd)>td, body.wood .table-striped>tbody>tr:nth-child(odd)>th {
    background: rgba(0, 0, 0, 0.1)
}
body.wood .table-bordered {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
body.wood .dataTables_info {
    color: #ddd
}
body.wood .pagination>.disabled>span, body.wood .pagination>.disabled>a, body.wood .pagination>.disabled>a:hover, body.wood .pagination>.disabled>a:focus {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #ddd
}
body.wood .pagination>.active>a, body.wood .pagination>.active>span, body.wood .pagination>.active>a:hover, body.wood .pagination>.active>span:hover, body.wood .pagination>.active>a:focus, body.wood .pagination>.active>span:focus {
    background: rgba(66, 139, 202, 0.7);
}
body.wood .pagination>li:first-child>a, body.wood .pagination>li:first-child>span {
    color: #ddd
}
body.black .table-bordered {
    color: #eee;
    background: #1d1e22
}
body.black .table-bordered {
    border: 1px solid #313337;
}
body.black .table-bordered>thead>tr>th, black.wood .table-bordered>tbody>tr>th, black.wood .table-bordered>tfoot>tr>th, body.black .table-bordered>thead>tr>td, body.black .table-bordered>tbody>tr>td, body.black .table-bordered>tfoot>tr>td {
    border: 1px solid #313337;
    background: #1b1c20;
}
body.black .dataTables_info {
    color: #ccc
}
body.black .table caption+thead tr:first-child th, body.black .table colgroup+thead tr:first-child th, body.black .table thead:first-child tr:first-child th, body.black .table caption+thead tr:first-child td, body.black .table colgroup+thead tr:first-child td, body.black .table thead:first-child tr:first-child td {
    background: #18181a;
    color: #fff;
    background-image: -webkit-linear-gradient(top, #1d1e22 0%, #0f0f11 100%);
    background-image: -o-linear-gradient(top, #1d1e22 0%, #0f0f11 100%);
    background-image: linear-gradient(top, #1d1e22 0%, #0f0f11 100%);
}
body.black .pagination>.disabled>span, body.black .pagination>.disabled>a, body.black .pagination>.disabled>a:hover, body.black .pagination>.disabled>a:focus {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #ddd
}
body.black .pagination>.active>a, body.black .pagination>.active>span, body.wood .pagination>.active>a:hover, body.black .pagination>.active>span:hover, body.black .pagination>.active>a:focus, body.black .pagination>.active>span:focus {
    background: rgba(66, 139, 202, 0.7);
}
body.black .pagination>li:first-child>a, body.black .pagination>li:first-child>span {
    color: #ddd
}
/*! gridster.js - v0.5.1 - 2014-03-26
* http://gridster.net/
* Copyright (c) 2014 ducksboard; Licensed MIT */

.gridster {
    position: relative;
}
.gridster > * {
    margin: 0 auto;
    -webkit-transition: height .4s, width .4s;
    -moz-transition: height .4s, width .4s;
    -o-transition: height .4s, width .4s;
    -ms-transition: height .4s, width .4s;
    transition: height .4s, width .4s;
}
.gridster .gs-w {
    z-index: 2;
    position: absolute;
}
.ready .gs-w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s;
    -moz-transition: opacity .3s, left .3s, top .3s;
    -o-transition: opacity .3s, left .3s, top .3s;
    transition: opacity .3s, left .3s, top .3s;
}
.ready .gs-w:not(.preview-holder), .ready .resize-preview-holder {
    -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}
.gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: 0.3;
}
.gridster .player-revert {
    z-index: 10!important;
    -webkit-transition: left .3s, top .3s!important;
    -moz-transition: left .3s, top .3s!important;
    -o-transition: left .3s, top .3s!important;
    transition: left .3s, top .3s!important;
}
.gridster .dragging, .gridster .resizing {
    z-index: 10!important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}
.gs-resize-handle {
    position: absolute;
    z-index: 1;
}
.gs-resize-handle-both {
    width: 20px;
    height: 20px;
    bottom: -8px;
    right: -8px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: top left;
    background-repeat: no-repeat;
    cursor: se-resize;
    z-index: 20;
}
.gs-resize-handle-x {
    top: 0;
    bottom: 13px;
    right: -5px;
    width: 10px;
    cursor: e-resize;
}
.gs-resize-handle-y {
    left: 0;
    right: 13px;
    bottom: -5px;
    height: 10px;
    cursor: s-resize;
}
.gs-w:hover .gs-resize-handle, .resizing .gs-resize-handle {
    opacity: 1;
}
.gs-resize-handle, .gs-w.dragging .gs-resize-handle {
    opacity: 0;
}
.gs-resize-disabled .gs-resize-handle {
    display: none!important;
}
[data-max-sizex="1"] .gs-resize-handle-x, [data-max-sizey="1"] .gs-resize-handle-y, [data-max-sizey="1"][data-max-sizex="1"] .gs-resize-handle {
    display: none !important;
}
/* Uncomment this if you set helper : "clone" in draggable options */
/*.gridster .player {
  opacity:0;
}
*/
/* Login and Register form */

.admin-form {
    max-width: 500px;
    margin: 50px auto;
}
.admin-form form {
    padding: 10px 0px;
}

body.sign {
    font-size: 13px;
    line-height: 22px;
    color: #666;
    border-top: 0px solid #eee;
    background: #eaeaea;
    padding-top: 43px;
    font-family: 'Microsoft yahei', '微软雅黑', Tahoma, Verdana, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
