<!DOCTYPE html>
<html>
<head>
  <title><%=page_title%></title>
  <%= stylesheet_link_tag    'application'%>
  <%= requirejs_include_tag	 'application'%>
 
</head>
<body>

<%= yield %>

</body>
</html>

